<% if params[:query] %>
  <h1>Seach Results</h1>
<% else %>
  <h1>All Taprooms</h1>
<% end %>

<% if @taprooms.count > 0 %>
  <div class="card-columns">
    <% @taprooms.each do |tap| %>
      <!-- <div class="col-sm-3"> -->
      <div class="card text-center">
        <%= image_tag tap.img_url, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= tap.brewery %></h5>
          <p class="card-text"><%= tap.stars %></p>
          <%= link_to 'View Taproom', taproom_path(tap), class: "btn btn-primary" %>
        </div>
      <!-- </div> -->
      </div>
    <% end %>
  </div>
<% else %>
  <p>No results.</p>
<% end %>
