<h1><%= @taproom.brewery %></h1>
<p>
  <strong>Location</strong>
  <%= @taproom.location %><br>
  <strong>Opening Times</strong>
  <%= @taproom.opening_times %><br>
  <strong>Bio</strong><br>
  <%= @taproom.bio %>
</p>
