<h1><%= @user.name %></h1>
<p>
  <%= gravtar_for(@user) %>
</p>

<h2>Reviews</h2>
<% if @reviews.any? %>
  <% @reviews.each do |review| %>
    <p>
      <%= link_to review.brewery, taproom_path(review.taproom_id)%><br>
      <%= review.comment %></p>
  <% end %>
<% else %>
  <p>No Reviews Yet.</p>
<% end %>
