<h1>New Post</h1>

<ul class="nav nav-tabs card-margin">
  <li class="nav-item">
    <a class="nav-link" href="<%= posts_path %>">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="<%= new_post_path %>">New</a>
  </li>
</ul>

<%= render 'form' %>
