<h1><%= @taproom.brewery %></h1>
<p><%= @review.comment %></p>
<p><strong>Rating: </strong><%= @review.rating %></p>
<p><strong>Date of Visit: </strong><%= @review.visit_date.strftime("%d %b %Y") %></p>
